// Aboutcompany-page styles

//header styles
.aboutcompany-page {

  .main-head {
    background: url(../images/aboutcompany-bg.jpg) no-repeat top;
    margin: 0;
    @media (max-width: @desktop) {
      // подгрузить другой bg
    }
  }

  .main-navigation {
    margin-bottom: 40px;
  }

  .breadcrumbs {
    margin-top: 40px;
    color: @white;
  }

  .pagination {
    margin-bottom: 60px;
  }

  .main-head__title {
    margin-bottom: 110px;
    @media (max-width: @desktop) {
      margin-left: 0;
    }
  }
  //media
  @media (max-width: @desktop) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .main-foot .container {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  @media (max-width: @laptop) {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
    .main-foot .container {
      padding-right: 6%;
      padding-left: 6%;
    }
  }
  @media (max-width: @tablet) {
    .main-foot .container {
      padding-right: 6%;
      padding-left: 17%;
    }
    .main-foot__copyright .container {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
  }
}

//main styles

// features section
.company-features {
  padding-top: 3%;
  padding-bottom: 2%;
}

.company-feature {
  margin-bottom: 50px;

  &__image {
    width: 69px;
    height: 87px;
  }
  &__title {
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
  }
  &__text {
    font-family: @rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

// distribution section
.distribution {
  background: @lightgrey;
  padding-top: 0.3%;

  &__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    text-align: center;
    margin-bottom: 60px;
    margin-left: 2%;
    margin-right: 2%;
  }
  &__image {
    width: 100%;
    height: auto;
    max-width: 350px;
    background: @white;
    box-shadow: 0 0 4px rgba(36, 36, 35, 0.2);
    margin-bottom: 10px;
  }
  &__item-title {
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
  }
  &__text {
    font-size: 14px;
    font-family: @rubik;
  }
  // big item
  &__item_big {
    width: 471px;
    height: 471px;
  }
  //media
  @media (max-width: @desktop) {
    max-width: 978px;
    margin-right: auto;
    margin-left: auto;
    &__item {

    }
  }
  @media (max-width: @laptop) {
    max-width: 788px;
    &__item {
      width: 44%;
      margin-left: 3%;
    }
  }
  @media (max-width: @tablet) {
    padding-left: 20px;
    padding-right: 20px;
    &__item {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

// details section
.details {
  margin-top: 80px;
  margin-bottom: 85px;

  &__left {
    width: 100%;
    height: 382px;
    background-color: #686868;
    padding: 10%;
    padding-bottom: 0;
  }
  &__left-title {
    color: @white;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
  }
  &__left-link {
    display: inline-block;
    color: @white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
  }
  &__right {
    border-top: 3px solid @orange;
    width: 100%;
    height: 382px;
    padding-top: 60px;
  }
  &__right-text {
    font-size: 16px;
    font-family: @rubik;
    margin-bottom: 15px;
  }
}
