// Page 6 (article) and Page 6_2 (article with slider)

//header styles
.article-page {

  .main-topline {
    background: @grey;
  }

  .main-head {
    background: @white;
    margin: 0;
  }

  .main-navigation {
    margin-bottom: 40px;
  }

  .main-navigation__item a {
    color: @lightblack;
  }

  .main-head__logo {
    background: @grey url(../images/icons/logo-grey.svg) no-repeat center;
    background-size: 65%;
  }

  .breadcrumbs {
    margin-bottom: 50px;
  }

  .pagination {
    margin-bottom: 60px;
  }

}

//main styles

/* стили фильтров страницы находятся в forms.less */

//article-item

.article-item {
  margin-top: -10px;
  margin-bottom: 45px;

  &__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 20px;
  }
  &__date {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
  }
  &__theme {
    position: relative;
    display: inline-block;
    border-radius: 1px;
    border: 1px solid @red;
    font-size: 14px;
    min-width: 86px;
    color: @red;
    padding: 0px 8px;
    padding-left: 9px;
    top: -3px;
    &:hover {
      color: @white;
      background: @red;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__text {
    font-family: @rubik;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
    font-weight: 400;
    margin-bottom: 20px;
  }
  &__list {
    padding-left: 40px;
    border-left: 3px solid @red;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
  }

  // price and social blocks
  &__social-price {
    position: relative;
  }
  &__price {
    float: left;
    color: @white;
    background: @red;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 22px 20px 19px 18px;
    &:hover {
      color: @white;
    }
  }
  &__social {
    position: absolute;
    right: 0;
    border: 2px solid #f1f1f1;
    border-left: none;
    padding: 16px 12px 15px 81px;
    text-align: right;
    li {
      display: inline-block;
      vertical-align: top;
      width: 52px;
      height: 30px;
    }
  }
  &__social_full {
    width: 100%;
    border-left: 2px solid #f1f1f1;
    padding: 16px 12px 15px 0;
  }
}

//social buttons (share)
.social-link {
  width: 52px;
  height: 30px;
  display: inline-block;
  border-radius: 2px;
  padding-left: 5px;
  background: @white no-repeat 15% center;
  background-size: 40%;
  border: 1px solid transparent;
  transition: background 0.1s ease;
}
.social-vk {
  background-image: url(../images/icons/social-vk.svg);
  border-color: #436eab;
  &:hover {
    background-color: #436eab;
    background-image: url(../images/icons/social-vk_hover.svg);
  }
}
.social-fb {
  background-image: url(../images/icons/social-fb.svg);
  background-size: 18%;
  border-color: #385c8e;
  &:hover {
    background-color: #385c8e;
    background-image: url(../images/icons/social-fb_hover.svg);
  }
}
.social-gplus {
  background-image: url(../images/icons/social-gplus.svg);
  border-color: #cc3732;
  &:hover {
    background-color: #cc3732;
    background-image: url(../images/icons/social-gplus_hover.svg);
  }
}
.social-tw {
  background-image: url(../images/icons/social-tw.svg);
  background-size: 35%;
  border-color: #65bbf2;
  &:hover {
    background-color: #65bbf2;
    background-image: url(../images/icons/social-tw_hover.svg);
  }
}

// article-pagination block
.article-pagination {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 0;

  &__prev, &__next {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 84%;
      height: 1px;
      background: transparent;
      bottom: 2px;
    }
    &:hover {
      color: inherit;
      &::after {
        background: black;
      }
    }
  }

  &__prev {
    position: relative;
    float: left;
    padding-left: 30px;
    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      top: 7px;
      left: 0;
      background: url(../images/icons/arrow-left.svg) no-repeat center;
      background-size: contain;
    }
    &::after {
      right: 0;
    }
  }
  &__next {
    position: relative;
    float: right;
    padding-right: 30px;
    margin-bottom: 70px;
    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      top: 7px;
      right: 0;
      background: url(../images/icons/arrow-right.svg) no-repeat center;
      background-size: contain;
    }
    &::after {
      left: 0;
    }
  }
}

// Article_2 (with slider) styles

.article-item {
  &__slider {
    position: relative;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: @grey;
    padding: 50px 57px 50px 49px;
  }
  &__slide {
    position: relative;
  }
  &__slide-text {
    width: 30%;
    position: absolute;
    font-family: @rubik;
    font-size: 14px;
    line-height: 20px;
    top: 50%;
    right: 0%;
  }
  &__slide-counter {
    position: absolute;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: @red;
    padding: 8px 9px 6px 9px;
    top: 0px;
    right: 0px;
  }
}
