// Page 2 (catalog)

.catalog-page {

  .main-topline {
    background: @green;
  }
  
  .main-head {
    background: @white;
    margin: 0;
  }

  .main-navigation__item a {
    color: @lightblack;
  }

  .main-head__logo {
    background: @green url(../images/icons/logo-grey.svg) no-repeat center;
    background-size: 65%;
  }

}