// Catalog-page styles

.catalog-page {

  .main-topline {
    background: @grey;
  }

  .main-head {
    background: @white;
    margin: 0;
  }

  .main-navigation {
    margin-bottom: 40px;
  }

  .main-navigation__item a {
    color: @lightblack;
  }

  .main-head__logo {
    background: @grey url(../images/icons/logo-grey.svg) no-repeat center;
    background-size: 65%;
  }

  .breadcrumbs {
    margin-bottom: 50px;
    margin-left: 0;
  }

  .pagination {
    margin-bottom: 60px;
  }

  .brand-filter__title {
    margin-top: 19px;
  }

  .catalog-brands {
    padding-left: 40px;
  }

  // Меняю стиль чекбоксов (только для данной страницы)
  .brand-filter__item label::before {
    background: transparent;
  }
  .brand-filter__item label::after {
    width: 14px;
    height: 13px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAAi0lEQVQoU5XSwRFAMBCF4X8b0IE63HVALwrRA01ow2jAWQ8xIZuJCMIhl+y3Ni8Rfn7GmAoYgUb+WAcnoACWbBzBDaizcBKKzOI2BqAVkTk+xhO0dRavQAmcowQN3qBim56G4Bt8wQPbJVHYAb1L9TaRHs0HFjXQ/Ufo/6yVOaOGgd6u6vKCEumHeAfveFAx5VpjEgAAAABJRU5ErkJggg==') no-repeat center;
  }
  .brand-filter__item {
    input[type=checkbox]:checked + label::before {
      background: @red;
    }
  }
  // radio
  input[type=radio] {
    opacity: 0;
    width: 19px;
    height: 19px;
    position: relative;
    top: 4px;
    left: 1px;
  }
  .pet-filter__item {
    input[type=radio]:checked + label::after {
      opacity: 1;
    }
    input[type=radio]:checked + label::before {
      border-color: @red;
    }
  }
}

.brand-item {
  transition: background 0.2s ease;
  &:hover {
    background: @grey;
  }
}

.brand-item:hover .brand-item__read-more {
  opacity: 1;
}

.brand-item {
  position: relative;
  padding: 25px;
  &__left {
    float: left;
    margin-right: 40px;
    img {
      box-shadow: 0 0 4px rgba(36, 36, 35, 0.2);
    }
  }

  &__title {
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
  }

  &__text {
    font-family: @rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__read-more {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: @red;
    padding-right: 30px;
    transition: opacity 0.2s ease;
    &::after {
      position: absolute;
      content: '';
      background: url(../images/icons/read-more.png) no-repeat center;
      width: 24px;
      height: 24px;
      top: 0;
      right: 0;
    }
    &:hover {
      color: @red;
    }
  }
}

.catalog-brands {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 60px;
  &::after {
    position: absolute;
    content: '';
    background: @red;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 300px;
  }
}

.brand-filter {
  margin-bottom: 40px;
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

.pet-filter {
  margin-bottom: 40px;
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
