//Main-page styles

.main-page {
  .main-head {
    position: relative;
    background: url("../images/main-head-bg.jpg") no-repeat center top;
    background-size: cover;
    margin-bottom: 50px;
    padding-bottom: 30px;
    //media
    @media (max-width: @laptop) {
      background-position: 60% center;
    }
    @media (max-width: @tablet) {
      background-size: cover;
      background-position: 64% top;
      margin-bottom: 25px;
      padding-bottom: 80px;
    }
  }

  .main-navigation__item a {
    color: @white;
  }
  .modal-navigation .main-navigation__item a {
    color: @lightblack;
    &.btn {
      color: @white;
    }
  }

}
//HEADER
.main-head {
  //.main-head__logo
  &__logo {
    display: block;
    position: absolute;
    width: 230px;
    height: 85px;
    background: @white url(../images/icons/logo-grey.svg) no-repeat center;
    background-size: 65%;
    border-radius: 0 0 2px 2px;
    top: 0;
    left: 10px;
    //media
    @media (max-width: @desktop) {
      width: 180px;
      height: 70px;
    }
    @media (max-width: @tablet) {
      width: 160px;
      height: 62px;
      background-size: 80%;
    }
  }
  //main-head__logo-img
  &__logo-img {
    margin: 0 auto;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 50px;
  }
}
//MAIN NAVIGATION
.main-navigation {
  position: relative;
  padding-top: 15px;
  margin-bottom: 150px;
  //main-navigation__list
  &__list {
    position: relative;
    padding-right: 60px;

    .menu-hover {
      position: relative;
      display: inline-block;

      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background-color: @orange;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: 0.4s ease;
      }

      &:hover::before {
        opacity: 1;
        width: 100%;
      }
    }
  }
  //main-navigation__item
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    a {
      position: relative;
      font-family: @geometria;
      font-size: 18px;
      line-height: 48px;
      text-transform: uppercase;
      font-weight: bold;
      color: @lightblack;
      transition: color 0.3s ease;

      &.btn {
        font-size: 16px;
        line-height: 2.2em;
        font-weight: 700;
        color: @white;
      }
    }
  }
  //media
  @media (max-width: @desktop) {
    margin-bottom: 100px;

    &__list {
      padding-right: 0;
    }
  }
  @media (max-width: @tablet) {
    margin-bottom: 120px;
  }
}

.main-navigation .main-navigation__item.active {
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: @orange;
    bottom: 0;
    left: 0;
    opacity: 1;
  }

  a {
    color: @orange;
  }
}
//small main navigation
.main-navigation__hidden-btn {
  position: relative;
  color: @lightblack;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 30px;

  &::after {
    position: absolute;
    content: '';
    right: 0;
    top: 3px;
    width: 20px;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAYAAAAWGF8bAAAAYklEQVQ4T83UsQ2AQAxD0e+GGSjoktuUUU+CFaDJCdEwgE8iAzzJSmJlxgGseOZUZpTHepUHvIDFhN6KiJS0OcCq6nJAX8MPthY7YIkM9Clb9p6NPfL/t2w/bPvrzSgHa30NXS0cIbH2o1oAAAAASUVORK5CYII=') no-repeat center;
  }

  &.mnu-white {
    color: @white;

    &::after {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAYAAAAWGF8bAAAAWklEQVQ4T9XUsQ2AMAxE0XPDDBSUjMqoSLBCaD6KIjHBT4EHeJJ1ZxdwJVnjzF0AjjWUDrYki4Q+HdyTbBJ4lgR9jA8Ch7ryjJT12rgr/yJlt9gzTk9PWX1fL8apNPlP8sp8AAAAAElFTkSuQmCC');
    }
  }
}

.main-navigation__list_small li {
  display: block;
}

.main-head__title {
  color: @white;
  margin-bottom: 30px;
  //media
  @media (max-width: @desktop) {
    margin-left: 55px;
  }
  @media (max-width: @tablet) {
    margin-left: 0;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
}

.main-head__subtitle {
  color: @white;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 50px;
  font-weight: 300;
  //media
  @media (max-width: @desktop) {
    margin-left: 55px;
  }
  @media (max-width: @tablet) {
    margin-left: 0;
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 40px;
  }
}

.main-head__btn {
  margin-bottom: 200px;
  //media
  @media (max-width: @desktop) {
    margin-left: 55px;
    margin-bottom: 100px;
  }
  @media (max-width: @tablet) {
    margin-left: 0;
  }
}
//CAROUSEL (slider №1)
.main-carousel {
  position: relative;
  background: @green;
  margin-bottom: 60px;
  //main-carousel__slide
  &__slide {
    position: relative;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }
  //media
  @media (max-width: @tablet) {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 45px;
  }
}
//ABOUT
.main-about {
  padding-bottom: 80px;
  //main-about__company
  &__company {
    text-align: center;
    background-color: #686868;
    padding: 50px 70px 70px;
    margin-right: 40px;
  }
  //main-about__company-title
  &__company-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    color: @white;
    margin-bottom: 25px;
  }
  //main-about__company-text
  &__company-text {
    font-family: @rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: @white;
  }
  //main-about__feature
  &__feature {
    position: relative;
    margin-top: 45px;
    margin-bottom: 40px;
    padding-left: 15px;

    &::before {
      position: absolute;
      content: '';
      width: 3px;
      height: 88%;
      background: @orange;
      top: 5px;
      left: 0;
    }
  }
  //.main-about__feature-title
  &__feature-title {
    font-family: @geometria;
    color: #242423;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  //.main-about__feature-text
  &__feature-text {
    font-family: @rubik;
    color: #686868;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 400;
  }
  //media
  @media (max-width: @desktop) {
    padding-left: 10px;
    padding-bottom: 5%;

    &__company {
      padding: 37px 10px 45px 37px;
    }

    &__company-title {
      margin-bottom: 10px;
    }

    &__company-text {
      font-size: 14px;
      padding-right: 4%;
    }

    &__feature {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    &__feature-title {
      font-size: 16px;
    }
  }
  @media (max-width: @laptop) {
    padding-left: 8%;
    padding-right: 8%;

    &__company {
      margin: 0 auto 20px;
    }

    &__company-text {
      font-size: 16px;
      padding-right: 0;
    }
  }
  @media (max-width: @tablet) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12%;

    &__company {
      padding: 3% 10% 13%;
    }

    &__company-title {
      font-size: 24px;
    }

    &__company-text {
      font-size: 12px;
      line-height: 18px;
    }

    &__feature {
      max-width: 210px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
//SUPPLIERS (slider №2)
.main-suppliers {
  position: relative;
  padding-bottom: 98px;

  & > .container {
    position: relative;
    padding-top: 60px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 10px;
      width: 300px;
      height: 3px;
      background: @orange;
    }
    //media
    @media (max-width: @desktop) {
      &::before {
        width: 239px;
        left: 18px;
      }
    }
    @media (max-width: @laptop) {
      padding-top: 0;

      &::before {
        display: none;
      }
    }
  }
  //media
  @media (max-width: @desktop) {
    padding-bottom: 40px;
  }
}

.main-suppliers__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 43px;
  margin-left: 80px;
  //media
  @media (max-width: @desktop) {
    margin-left: 55px;
  }
  @media (max-width: @laptop) {
    text-align: center;
    margin-left: 0;
    margin-bottom: 10px;
  }
  @media (max-width: @tablet) {
    font-size: 24px;
    line-height: 32px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
  }
}

.main-suppliers__slider {
  width: 90%;
  padding-left: 2%;
  margin: 0 auto;

  img {
    max-width: 80%;
    height: auto;
    margin: auto;
  }
  //media
  @media (max-width: @desktop) {
    padding-left: 2%;
  }
  @media (max-width: @laptop) {
    padding-left: 10%;
    padding-right: 10%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.main-suppliers__slide {
  position: relative;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;

    img {
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}
//barking heads

.bark-img {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
//last-news section
.last-news {
  & > .container {
    background: @lightgrey;
    padding: 30px 65px 60px;
    border-left: 20px solid @white;
    border-right: 20px solid @white;
    margin-bottom: 100px;
    //media
    @media (max-width: @desktop) {
      padding-top: 50px;
    }
    @media (max-width: @laptop) {
      max-width: 637px;
    }
    @media (max-width: @tablet) {
      width: 100%;
      padding: 40px 10px 30px;
      margin-bottom: 70px;
      border-left-width: 10px;
      border-right-width: 10px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 46px;
    //media
    @media (max-width: @desktop) {
      margin-bottom: 30px;
    }
    @media (max-width: @laptop) {
      text-align: center;
      margin-bottom: 0;
    }
    @media (max-width: @tablet) {
      font-size: 24px;
      line-height: 48px;
    }
  }

  &__read-all-wrap {
    text-align: right;
    padding-right: 15px;
    //media
    @media (max-width: @desktop) {
      padding-right: 0;
    }
    @media (max-width: @laptop) {
      text-align: center;
      margin-bottom: 30px;
    }
    @media (max-width: @tablet) {
      margin-bottom: 40px;
    }
  }

  &__read-all {
    font-size: 16px;
    line-height: 48px;
    font-weight: 500;
    line-height: 60px;
    color: @lightblack;
    padding-bottom: 1px;
    border-bottom: 1px solid #242423;

    &:hover {
      color: inherit;
      color: @orange;
      border-color: @orange;
    }
    @media (max-width: @tablet) {
      line-height: 28px;
    }
  }

  &__article {
    position: relative;
    background: @white;
    max-width: 320px;
    min-height: 400px;
    box-shadow: 0 0 4px rgba(36, 36, 35, 0.2);

    &:hover .last-news__subtitle {
      color: @orange;
    }
    //media
    @media (max-width: @laptop) {
      max-width: 320px;
      min-height: 405px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
    @media (max-width: @tablet) {
      max-width: 260px;
      min-height: 365px;
      margin-bottom: 30px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  &__date {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 23px;
  }

  &__category {
    float: right;
    min-height: 19px;
    border-radius: 1px;
    border: 1px solid @orange;
    color: @orange;
    font-size: 14px;
    padding: 0 8px;
    margin-right: 20px;

    &:hover {
      color: @white;
      background: @orange;
    }
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: @lightblack;
    margin: 20px 23px 40px;
  }

  &__read-more {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 38px;
    font-weight: 500;
    color: @orange;
    font-size: 14px;
    line-height: 24px;

    &:hover {
      color: @orange;
    }

    &::after {
      position: absolute;
      content: '';
      color: white;
      background: url("../images/icons/read-more.png") no-repeat center;
      background-size: cover;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
    }
  }
}
//modal windows

.modal-window {
  background: rgba(0, 0, 0, 0.5);
  color: #12485a;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow-y: scroll;
  z-index: 9999;
}

.window-container {
  text-align: center;
  background: #ffffff;
  display: block;
  margin: 3% auto;
  padding: 50px 20px 33px;
  width: 320px;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-align: center;

  h3 {
    font-family: $umedium;
    margin: 0 auto;
    font-size: 24px;
    line-height: 26px;
    height: auto;
    margin-bottom: 36px;
  }

  input[type=text] {
    box-sizing: border-box;
    width: 280px;
    height: 60px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: 2px solid #42c8f4;
    padding: 20px 18px;
    margin-bottom: 50px;
    color: #326070;

    &.error {
      border-color: red;
    }
  }

  .form-submit {
    box-sizing: border-box;
    width: 280px;
    height: 60px;
    background: #42c8f4;
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    margin-bottom: 17px;
    transition: all 0.2s;

    &:hover {
      background: #12485a;
    }
  }

  .form-policy {
    font-size: 12px;
    line-height: 14px;
    font-family: $ulight;
    text-decoration: underline;
  }
}

.animation {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.visible {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.btn-close {
  position: absolute;
  display: block;
  cursor: pointer;
  border: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  background: transparent;
  outline: none;
  transform: rotate(45deg);
  top: 20px;
  right: 20px;

  &::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 4px;
    background: #d0dade;
    transform: rotate(-90deg);
    top: 6px;
    left: 0;
  }

  &::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 4px;
    background: #d0dade;
    transform: rotate(0deg);
    top: 6px;
    left: 0;
  }
}

#fixedForm label.error {
  top: 230px;
  left: 20px;
}

#fixedForm label#tel-error {
  top: 340px;
}
// ПРИМЕР АНИМАЦИИ ГЛАВНОГО МЕНЮ ДЛЯ СТРАНИЦЫ UI
.test-navigation {
  margin-top: 20px;
  margin-bottom: 60px;

  ul {
    li {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      padding-bottom: 10px;

      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background-color: @orange;
        bottom: 0;
        // left: 50%;
        transition: 0.3s ease;
      }

      &:hover::before {
        width: 100%;
        // left: 0;
      }

      a {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}

.test-navigation-2 {
  margin-top: 20px;
  margin-bottom: 60px;

  ul {
    li {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      padding-bottom: 10px;

      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background-color: @orange;
        bottom: 0;
        left: 50%;
        transition: 0.2s ease;
      }

      &:hover::before {
        width: 100%;
        left: 0;
      }

      a {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}

.test-navigation-3 {
  margin-top: 20px;
  margin-bottom: 60px;

  ul {
    li {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      padding-bottom: 10px;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        background-color: @orange;
        bottom: -4px;
        left: 0;
        opacity: 0;
        transition: 0.2s ease;
      }

      &:hover::before {
        opacity: 1;
        height: 3px;
        bottom: 0;
        width: 100%;
      }

      a {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}

.test-navigation-4 {
  margin-top: 20px;
  margin-bottom: 60px;

  ul {
    li {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      padding-bottom: 10px;

      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background-color: @orange;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: 0.4s ease;
      }

      &:hover::before {
        opacity: 1;
        width: 100%;
      }

      a {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}
