//main header

//Фоновая картинка (только для header на главной)
.main-page {
  .main-head {
    position: relative;
    background: url(../images/main-head-bg.jpg) no-repeat center top;
    background-size: cover;
    margin-bottom: 50px;
    padding-bottom: 30px;
  }
}

.main-head__logo {
  display: block;
  position: absolute;
  width: 230px;
  height: 85px;
  background: @white url(../images/icons/logo-grey.svg) no-repeat center;
  background-size: 65%;
  border-radius: 0 0 2px 2px;
  top: 0;
  left: 10px;
}

.main-head__logo-img {
  margin: 0 auto;
  width: 100px;
  position: absolute;
  top: 10px;
  left: 50px;
}

.main-navigation {
  position: relative;
  padding-top: 15px;
  margin-bottom: 150px;
}

.main-navigation__list {
  position: relative;
  padding-right: 60px;
}

.main-navigation__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;

  a {
    font-family: @geometria;
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: @white;
    transition: color 0.3s ease;
  }
}

.main-navigation .main-navigation__item.active a {
  color: @red;
}


//main navigations hover effects

#menu li {
  position: relative;
  display: inline-block;
}

#menu li#line {
  display: block;
  position: absolute;
  content:'';
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  padding: 0;
  background: @red;
}

.main-navigation .main-navigation__item:hover a {
  color: @red;
}

//end



.main-head__title {
  color: @white;
  margin-bottom: 30px;

}

.main-head__subtitle {
  color: @white;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 50px;
  font-weight: 300;
}

.main-head__btn {
  margin-bottom: 200px;
  padding: 3px 72px 2px 30px;
  &::after {
    top: 11.5px;
    right: 28px;
    width: 26px;
    height: 19px;
    background-size: 95%;
  }
}


//main carousel section

.main-carousel {
  background: @green;
  margin-bottom: 60px;
}

.main-carousel__slide {
  position: relative;

  p {
    position: absolute;
    left: 20%;
  }
}

.main-carousel__title {
  text-transform: uppercase;
  font-size: 53px;
  font-weight: 700;
  top: 36%;
}

.main-carousel__subtitle {
  font-family: @rubik;
  font-size: 20px;
  font-weight: 400;
  top: 52%;
}

//main-about section

.main-about {
  padding-bottom: 80px;
}

.main-about__company {
  text-align: center;
  width: 590px;
  height: 338px;
  background-color: #686868;
  padding: 50px 65px 65px 70px;
}

.main-about__company-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  color: @white;
  margin-bottom: 25px;
}

.main-about__company-text {
  font-family: @rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: @white;
}

.main-about__feature {
  position: relative;
  margin-top: 50px;
  margin-top: 45px;
  margin-bottom: 40px;
  padding-left: 15px;
  
  &::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 96%;
    background: @red;
    top: 0;
    left: 0;
  }
}

.main-about__feature-title {
  font-family: @geometria;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.main-about__feature-text {
  font-family: @rubik;
  font-size: 14px;
  font-weight: 400;
}

//main suppliers section
.main-suppliers {
  position: relative;
  padding-bottom: 98px;

  & > .container {
    position: relative;
    padding-top: 60px;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 300px;
      height: 3px;
      background: @red;
    }
  }
}

.main-suppliers__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 43px;
  margin-left: 80px;
}

.main-suppliers__slider {
  width: 90%;
  padding-left: 2%;
  margin: 0 auto;
}

.main-suppliers__slide {
  position: relative;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
  }
}

//выравнивание картинок. убрать, когда будут картинки одного размера.
.main-suppliers__slide-2 {
  top: 20px;
}

.main-suppliers__slide-3 {
  top: 6px;
}

.main-suppliers__slide-4 {
  top: 12px;
}

//barking heads
.main-suppliers__slide-5 {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.main-suppliers__slide-7 {
  top: 12px;
}

//last-news section
.last-news {

  & > .container {
    background: @lightgreen;
    padding: 30px 65px 60px 90px;
    margin-bottom: 100px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 46px;
  }

  &__read-all {
    font-size: 16px;
    line-height: 48px;
    font-weight: 500;
    line-height: 60px;
    color: @lightblack;
    padding-bottom: 1px;
    border-bottom: 1px solid #242423;
    &:hover {
      color: inherit;
      color: @red;
      border-color: @red;
    }
  }
  
  &__article {
    background: @white;
    max-width: 320px;
    box-shadow: 0 0 4px rgba(36, 36, 35, 0.2);
    &:hover .last-news__subtitle {
      color: @red;
    }
  }

  &__image {
    margin-bottom: 20px;
  }

  &__date {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 23px;
  }

  &__category {
    float: right;
    min-height: 19px;
    border-radius: 1px;
    border: 1px solid @red;
    color: @red;
    font-size: 14px;
    padding: 0 8px;
    margin-right: 20px;
    &:hover {
      color: @white;
      background: @red;
    }
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: @lightblack;
    margin: 0 23px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__read-more {
    float: right;
    position: relative;
    padding-right: 38px;
    font-weight: 600;
    color: @red;
    font-size: 14px;
    line-height: 24px;
    &:hover {
      color: @red;
    }

    &::after {
      position: absolute;
      content: '';
      color: white;
      background: url(../images/icons/read-more.png) no-repeat center;
      background-size: cover;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
    }
  }
}



// modal windows

.modal-window {
  background: rgba(0, 0, 0, 0.5);
  color: #12485a;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow-y: scroll;
  z-index: 9999;
}

.window-container {
  text-align: center;
  background: #ffffff;
  display: block;
  margin: 3% auto;
  padding-top: 50px;
  padding-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-align: center;

  h3 {
    font-family: $umedium;
    margin: 0 auto;
    font-size: 24px;
    line-height: 26px;
    height: auto;
    margin-bottom: 36px;
  }

  input[type=text] {
    box-sizing: border-box;
    width: 280px;
    height: 60px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: 2px solid #42c8f4;
    padding: 20px 18px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: #326070;

    &.error {
        border-color: red;
      }
  }

  .form-submit {
    box-sizing: border-box;
    width: 280px;
    height: 60px;
    background: #42c8f4;
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    margin-bottom: 17px;
    transition: all 0.2s;

    &:hover {
      background: #12485a;
    }
  }

  .form-policy {
    font-size: 12px;
    line-height: 14px;
    font-family: $ulight;
    text-decoration: underline;
  }
}

.animation {
-webkit-transform:  scale(0.5);
-moz-transform:  scale(0.5);
-ms-transform:  scale(0.5);
transform:  scale(0.5);
}
.visible {
opacity: 1;
-webkit-transform:  scale(1);
-moz-transform:  scale(1);
-ms-transform:  scale(1);
transform:  scale(1);
}

.btn-close {
  position: absolute;
  display: block;
  cursor: pointer;
  border: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  background: transparent;
  outline: none;
  transform: rotate(45deg);
  top: 20px;
  right: 20px;

  &::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 4px;
    background: #d0dade;
    transform: rotate(-90deg);
    top: 6px;
    left: 0px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 4px;
    background: #d0dade;
    transform: rotate(0deg);
    top: 6px;
    left: 0px;
  }
}

#fixedForm label.error {
  top: 230px;
  left: 20px;
}

#fixedForm label#tel-error {
  top: 340px;
}

//can't scroll
body.freezed {
  overflow: hidden;
}