//main header
.main-head {
  position: relative;
  background: url(../images/main-head-bg.jpg) no-repeat center top;
  background-size: cover;
  margin-bottom: 50px;
}

.main-head__logo {
  display: block;
  position: absolute;
  width: 230px;
  height: 85px;
  background: @white url(../images/icons/logo-grey.svg) no-repeat center;
  background-size: 65%;
  top: 0;
  left: 0;
}

.main-head__logo-img {
  margin: 0 auto;
  width: 100px;
  position: absolute;
  top: 10px;
  left: 50px;
}

.main-navigation {
  padding-top: 15px;
  margin-bottom: 150px;
}

.main-navigation__list {
  padding-right: 20px;
}

.main-navigation__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;

  a {
    font-family: @geometria-bold;
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: @white;
  }
}

.main-head__title {
  color: @white;
  margin-bottom: 30px;

}

.main-head__subtitle {
  color: @white;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 50px;
  font-weight: 300;
}

.main-head__btn {
  margin-bottom: 200px;
}


//main carousel section

.main-carousel {
  background: @green;
  margin-bottom: 20px;
}

.main-carousel__slide {
  position: relative;

  p {
    position: absolute;
    left: 13%;
  }
}

.main-carousel__title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
  top: 100px;
}

.main-carousel__subtitle {
  font-family: @rubik-medium;
  font-size: 17px;
  font-weight: 400;
  top: 160px;
}



