// News-page styles

//header styles
.news-page {

  .main-topline {
    background: @lightgrey;
  }

  .main-head {
    background: @white;
    margin: 0;
  }

  .main-navigation {
    margin-bottom: 40px;
  }

  .main-navigation__item a {
    color: @lightblack;
  }

  .main-head__logo {
    background: @lightgrey url(../images/icons/logo-grey.svg) no-repeat center;
    background-size: 65%;
  }

  .breadcrumbs {
    margin-bottom: 50px;
    margin-left: 0;
  }

  .pagination {
    margin-bottom: 60px;
    padding-right: 0;
    padding-top: 15px;
  }

  .SumoSelect>p.CaptionCont {
    min-height: 29px;
    padding: 4px;
    padding-left: 15px;
  }
  .SumoSelect.open>.optWrapper {
    top: 28px;
  }

  .theme-filter__theme {
    margin-right: 14px;
    margin-bottom: 12px;
  }

  .actions-newsletter.actions-newsletter_hidden {
    float: none;
    width: 100%;
    border: 1px solid @border-grey;
    padding: 3%;
    .actions-newsletter__title {
      width: 100%;
    }
    .actions-newsletter__text {
      width: 100%;
    }
    .actions-newsletter__input {
      float: left;
      width: 72%;
      margin-right: 2%;
    }
    .actions-newsletter__submit {
      float: right;
      width: 24%;
    }
  }

  //media
  @media (max-width: @desktop) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .main-foot .container {
      padding-right: 10px;
      padding-left: 10px;
    }
    .pagination {
      padding-right: 10px;
    }
  }
  @media (max-width: @laptop) {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
    .main-foot .container {
      padding-right: 6%;
      padding-left: 6%;
    }
    .time-filter {
      float: left;
      width: 340px;
      padding-right: 0;
      &__title {
        float: left;
        width: 70px;
        margin-right: 10px;
      }
      .SumoSelect {
        float: right;
        width: 258px;
        bottom: 2px;
      }
    }
    .theme-filter {
      float: right;
      text-align: right;
      max-width: 340px;
      padding-right: 0;
      &__title {
        float: left;
        width: 56px;
        margin-right: 10px;
      }
      &__themes {
        float: right;
        width: 273px;
        text-align: right;
      }
      &__theme {
        min-width: 64px;
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
  @media (max-width: @tablet) {
    .main-foot .container {
      padding-right: 6%;
      padding-left: 17%;
    }
    .main-foot__copyright .container {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
    //filters
    .time-filter {
      float: none;
      width: 100%;
      text-align: left;
      padding: 0;
      &__title {
        float: left;
        width: auto;
        margin-right: 20px;
      }
      .SumoSelect {
        float: left;
        width: 71%;
        bottom: 2px;
      }
    }
    .theme-filter {
      float: none;
      width: 100%;
      max-width: 100%;
      text-align: left;
      padding: 0;
      &__title {
        float: left;
        width: auto;
        margin-right: 29px;
      }
      &__themes {
        float: left;
        text-align: left;
        width: 71%;
        bottom: 2px;
      }
      &__theme {
        margin-left: 0;
        margin-right: 10px;
        min-width: 87px;
      }
    }
    //pagination
    .pagination {
      position: relative;
      max-width: 280px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0;
      &__right-list {
        margin-right: -10px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 232px;
        height: 3px;
        top: 0;
        right: 0;
        background: @orange url(../) no-repeat center;
      }
    }

    //hidden subscribe form
    .actions-newsletter.actions-newsletter_hidden {
      padding: 7% 20% 8% 8%;
      .actions-newsletter__input {
        float: none;
        width: 100%;
        margin-right: 0;
      }
      .actions-newsletter__submit {
        float: none;
        width: auto;
      }
    }
  }
}

//main styles

/* стили фильтров страницы находятся в forms.less */

//news-list
.news__newsletter_hidden {
  width: 100%;
  margin-bottom: 50px;
}

.news-list {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-bottom: 30px;
  &::after {
    content: ' i i i ';
    padding-left: 258px;
    word-spacing: 291px;
    visibility: hidden;
  }
  &::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 3px;
    bottom: 0;
    right: 0;
    background: @orange;
  }
  //media
  @media (max-width: @desktop) {
    &::after {
      padding-left: 202px;
      word-spacing: 233px;
    }
    &::before {
      right: 10px;
    }
  }
  @media (max-width: @laptop) {
    padding-bottom: 25px;
    &::after {
      padding-left: 222px;
      word-spacing: 255px;
    }
  }
  @media (max-width: @tablet) {
    margin-right: 0;
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
}

.news-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 260px;
  height: 330px;
  margin-right: 35px;
  margin-bottom: 35px;
  box-shadow: 0 0 4px rgba(36, 36, 35, 0.2);
  &:hover .news-item__title {
    color: @orange;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  &__date {
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    padding-left: 10px;
  }
  &__theme {
    float: right;
    border-radius: 1px;
    border: 1px solid @orange;
    font-size: 12px;
    color: @orange;
    padding: 0px 5px;
    margin-right: 10px;
    min-height: 19px;
    &:hover {
      color: @white;
      background: @orange;
    }
  }

  &__title {
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
  }

  &__read-more {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
    color: @orange;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    padding-right: 30px;
    &:hover {
      color: @orange;
    }
    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 1px;
      right: 0;
      background: @orange url(../images/icons/read-more.png) no-repeat center;
      background-size: cover;
    }
  }
  //media
  @media (max-width: @desktop) {
    width: 208px;
    height: 275px;
    margin-right: 25px;
    margin-bottom: 25px;
    &__title {
      font-size: 14px;
      line-height: 18px;
    }
  }
  @media (max-width: @laptop) {
    width: 230px;
    height: 310px;
    margin-right: 25px;
    margin-bottom: 25px;
    &__title {
      font-size: 16px;
      line-height: 24px;
    }
  }
  @media (max-width: @tablet) {
    display: block;
    height: 355px;
    width: 276px;
    margin-right: auto;
    margin-left: auto;
    &:nth-child(3n) {
      margin-right: auto;
    }
  }
}
