// Page 2 (catalog)

//header styles
.partners-page {

  .main-topline {
    background: @grey;
  }
  
  .main-head {
    background: @white;
    margin: 0;
  }

  .main-navigation {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .main-navigation__item a {
    color: @lightblack;
  }

  .main-head__logo {
    background: @grey url(../images/icons/logo-grey.svg) no-repeat center;
    background-size: 65%;
  }

  .breadcrumbs {
    margin-bottom: 50px;
  }

  .pagination {
    margin-bottom: 60px;
  }

}

//main styles

.partners {

  &__title {
    margin-bottom: 40px;
  }
  &__subtitle {
    padding: 0 14%;
    font-family: @rubik;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  &__item {
    position: relative;
    height: 320px;
    text-align: center;
    padding: 20px 20px;
    padding-top: 0;
    padding-bottom: 20px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding: 10%;
    &:hover {
      background: @grey;
    }
  }
  &__image {
    width: 100%;
    margin-bottom: 20px;
  }

  // remove margins for every third item
  .col-lg-5:nth-child(3n) > .partners__item {
    margin-right: 0;
    .partners__image {
      width: 90%;
    }
  }

  .btn_load {
    margin-top: 20px;
    margin-bottom: 90px;
  }
}