// Request-page styles

.request-page {
  .main-topline {
    background: @lightgrey;
  }

  .main-head {
    background: @white;
    margin: 0;
  }

  .main-navigation {
    margin-bottom: 40px;
  }

  .main-navigation__item a {
    color: @lightblack;
  }

  .main-head__logo {
    background: @lightgrey url(../images/icons/logo-grey.svg) no-repeat center;
    background-size: 65%;
  }

  .breadcrumbs {
    margin-bottom: 50px;
    @media (max-width: @desktop) {
      margin-left: 0 ;
    }
  }

  .pagination {
    margin-bottom: 60px;
  }
  @media (max-width: @desktop) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .main-foot .container {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  @media (max-width: @laptop) {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
    .main-foot .container {
      padding-right: 6%;
      padding-left: 6%;
    }
  }
  @media (max-width: @tablet) {
    .main-foot .container {
      padding-right: 6%;
      padding-left: 17%;
    }
    .main-foot__copyright .container {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
  }
}


//main styles
.request {
  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__subtitle {
    position: relative;
    padding: 28px 40px 29px 49px;
    background: @lightgrey;

    &_top {
      font-size: 18px;
      font-weight: bold;
      color: @orange;
      margin-bottom: 10px;
    }

    &_bottom {
      font-size: 14px;
      font-family: @rubik;
    }

    &_arrow {
      position: absolute;
      width: 34px;
      height: 34px;
      background: @orange url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAABzElEQVRYR2N8EKr/n2EQAMZRh6DFwmiIoCfL0RAZDRFCRdVoGhmeaYSRi4dBvHIKA8N/BoaXHTkM/799IZQUcMqTnUaY+AQZxCsmM7Cp6IAN/3XnCsPLjlyGf5/ek+UYshzCLCDMIF4zk4FVTgXF0t+P7jC8bEln+PvhLcmOIdkhzEJiDBINcxlYJGTBln3Zuw5M8zgHgek/Lx4zvGhIZvj77hVJjiHJISDLJernMDALi4Mt+bxtGcO7BV1gtlBCGQOvVxSY/fftS4YXjSlgRxELiHYIKBrEq6czMAuKgs3+uH4uw4flk1HsEYjMZeAPTIY45v1rhpetmQyg6CIGEOUQNiUtBvGqqQygBAoCH5ZNZPi4YT5W8/kDEhkEovLBcqCE+7Itm+HXvWsE3ULQIexq+mBHgLIqCLyb287weedKvAbzuoczCCVXgtWAsjTIMT9vXcSrh6BD5BYcZmDk4mVg+PeP4e2MRoYvBzYS9B048Tr4Mwhn1DMwMDEx/P/2meFRgi1lDuG28WQQTqsFO+LrsZ1EOQKmiNvag0E4vY7h7axmhq9HtlPmEJJspkAxwaihwGyStI46BD24RkNkNEQIZaHRNDKaRgilEQCiAMxJgWoZ1gAAAABJRU5ErkJggg==') no-repeat center;
      background-size: cover;
      top: 40px;
      right: 50px;
      transition: transform 0.3s ease;
      transform: rotate(180deg);

      &.clicked {
        transform: rotate(0deg);
      }
    }
  }

  &__hidden-subtitle {
    cursor: pointer;
    margin-bottom: 50px;
    box-shadow: 0 0 4px rgba(36, 36, 35, 0.2);
    transition: margin 0.3s ease;

    &.clicked {
      margin-bottom: 0;
      box-shadow: none;
    }
  }
  // form
  &__form-block {
    border: 1px solid #ececec;
    border-top: none;
    padding: 45px 45px 20px;
    margin-bottom: 50px;
  }

  &__hidden-block {

  }

  label {
    margin-bottom: 10px;
  }

  &__input {
    height: 38px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    padding: 0 15px;
    font-family: @rubik;
    font-weight: 300;
    color: #bababa;
  }

  &__input_big {
    min-height: 115px;
    max-height: 400px;
    max-width: 100%;
    padding-left: 14px;
    padding-top: 13px;
    color: #242423;
  }

  &__input_file {
    border: 1px dottet @orange;
  }

  &__select {
    height: 38px;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-family: @rubik;
    background: none;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    margin-bottom: 30px;
    padding: 0 15px;
  }

  &__submit-block {
    margin-bottom: 90px;
  }

  &__check {
    opacity: 0;
    position: absolute;
  }

  &__check-label {
    position: relative;
    cursor: pointer;
    font-weight: 500;
    margin-left: 10px;
    padding-left: 35px;

    &:active::before {
      background: @orange;
    }

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: -10px;
      border: 2px solid @orange;
      border-radius: 2px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAAi0lEQVQoU5XSwRFAMBCF4X8b0IE63HVALwrRA01ow2jAWQ8xIZuJCMIhl+y3Ni8Rfn7GmAoYgUb+WAcnoACWbBzBDaizcBKKzOI2BqAVkTk+xhO0dRavQAmcowQN3qBim56G4Bt8wQPbJVHYAb1L9TaRHs0HFjXQ/Ufo/6yVOaOGgd6u6vKCEumHeAfveFAx5VpjEgAAAABJRU5ErkJggg==') no-repeat center;
      left: -10px;
      opacity: 0;
      border-radius: 2px;
    }
  }

  &__clear {
    float: right;
    color: @white;
    background-color: #bababa;
  }

  &__submit {
    float: right;
    margin-left: 20px;
  }
  // done
  &__done {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 3px rgba(36, 36, 35, 0.2);
    padding: 8%;
    margin-bottom: 8%;
  }

  &__done-image {
    margin-bottom: 9%;
  }

  &__done-text {
    font-family: @rubik;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 12%;
  }
  //.request media
  @media (max-width: @desktop) {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: @laptop) {
    max-width: 677px;
    &__title {
      margin-left: -40px;
      margin-right: -40px;
    }
    &__subtitle {
      padding-right: 100px;
    }
    label {
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }
  }

  @media (max-width: @tablet) {
    max-width: 320px;
    &__title {
      margin-left: auto;
      margin-right: auto;
    }
    &__subtitle {
      padding-right: 20px;
      padding-left: 20px;
    }
    &__subtitle_arrow {
      top: 33px;
      right: 15px;
    }
    &__form-block {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__submit-block {
      position: relative;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 60px;
      margin-bottom: 60px;
    }
    label {
      padding-left: 20px;
      margin-bottom: 0;
      &::before {
        top: 4px;
      }
      &::after {
        top: 4px;
      }
    }
    &__submit {
      position: absolute;
      bottom: 0; right: 10px;
      margin-left: 0;
    }
    &__clear {
      position: absolute;
      bottom: 0; left: 10px;
    }
  }
}
// Стилизация чекбокса отправки формы
.request__check:checked + .request__check-label::after {
  opacity: 1;
}

.request__check:checked + .request__check-label::before {
  background: @orange;
}

.request__check:focus + .request__check-label::before {
  border-color: #bababa;
}
