//1. Fonts

@geometria: 'Geometria', Helvetica, sans-serif;
@rubik: 'Rubik', Arial, sans-serif;

//2. Colors

@lightgrey: #f1f1f1;
@border-grey: #dfdfdf;
@grey: #bababa;
@darkgrey: #686868;
@black: #181817;
@lightblack: #242423;
@orange: #e0552f;
@red: #c1421f;
@white: #fff;
@green: #d3e6d9;

//3. Media Points

@desktop: 1199px; //1200px
@laptop: 979px; //960px
@tablet: 767px; //768px
@mobile-wide: 479px; //480px
@mobile: 320px; //320px
