//1. Fonts
@geometria-light: 'Geometria Light', Helvetica, Arial, sans-serif;
@geometria-medium: 'Geometria Medium', Helvetica, Arial, sans-serif;
@geometria-bold: 'Geometria Bold', Helvetica, Arial, sans-serif;

@rubik-bold: 'Rubik Bold', Helvetica, Arial, sans-serif;
@rubik-light: 'Rubik Light', Helvetica, Arial, sans-serif;
@geometria-medium: 'Geometria Medium', Helvetica, Arial, sans-serif;
@geometria-regular: 'Geometria Regular', Helvetica, Arial, sans-serif;

//2. Titles

//3. Font-size

//4. Colors

@white: #ffffff;
@red: #e0552f;


//5. Title color

//6. Bg-colors

//7. Buttons

//8. Media Points

