//breadcrumbs styles

.breadcrumbs {
  &__item {
    display: inline-block;
    margin-right: 20px;
    padding-left: 30px;
    border-left: 2px solid #242423;

    a {
      font-weight: bold;
      font-size: 18px;
    }

    &.active a {
      color: @red;
    }
  }
  &__item:first-child {
    border-left: none;
  }
  &__item:last-child {
    border-color: @red;
  }
}