//breadcrumbs styles

.breadcrumbs {
  &__item {
    display: inline-block;
    margin-right: 20px;
    padding-right: 30px;
    border-right: 2px solid @red;

    a {
      font-weight: bold;
      font-size: 18px;
    }

    &.active a {
      color: @red;
    }
  }
  &__item:last-child {
    border-right: none;
  }
}