//breadcrumbs styles

.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 65px;
  margin-left: -10px;
  &__item {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding-left: 30px;
    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 13px;
      top: 5px;
      left: 0;
      background: #3e3e3d;
    }

    a {
      font-weight: 500;
      font-size: 18px;
      &:hover {
        color: @red;
      }
    }

    &.active a {
      color: @red;
    }
  }
  &__item:first-child {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
  &__item:last-child {
    &::before {
      background: @red;
    }
  }
  //media
  @media (max-width: @desktop) {
    margin-top: 10px;
  }
}
