/* ==========================================================================
   BUTTONS
   ===========================================================================*/

//main order button
.btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0 18px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 38px;
  font-weight: bold;
}

.btn_red {
  background-color: @red;
  color: @white;
}

.btn_more {
  color: @red;
  background: @white;
  padding: 0 20px;
  padding-right: 44px;
  
  &::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url(../images/icons/arrow-right_red.svg) no-repeat center;
    background-size: contain;
    top: 25%;
    right: 13px;
  }
}

.btn_load {
  padding-left: 50px;
  &::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 19px;
    left: 20px;
    top: 9px;
    background: url(../images/icons/load.png) no-repeat center;
    background-size: contain;
  }
}

.btn_back {
  background-color: #bababa;
  color: @white;
  padding-right: 45px;
  &::after {
    position: absolute;
    content: '';
    background: url(../images/icons/arrow-right_white.svg) no-repeat center;
    background-size: cover;
    width: 20px;
    height: 15px;
    right: 13px;
    top: 11px;
  }
}

/* end buttons*/
