/* ==========================================================================
	 FOOTER
	 ========================================================================== */
.main-foot {
  background: @lightblack;
  color: @white;
  padding-top: 79px;
  border-top: 4px solid @red;

  a {
    color: @white;

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    position: relative;
    width: 224px;
    height: 83px;
    //media
    @media (max-width: @desktop) {
      top: 2px;
      width: 160px;
      height: auto;
      padding-left: 20px;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 66px;
    //media
    @media (max-width: @tablet) {
      margin-bottom: 30px;
    }
  }

  &__list {
    li {
      margin-bottom: 15px;

      a {
        position: relative;
        display: inline-block;
        font-family: @rubik;
        font-size: 14px;
        font-weight: 300;
      }
    }
    //media
    @media (max-width: @tablet) {
      margin-bottom: 40px;
    }
  }

  &__list_last {
    li {
      a {
        padding-left: 40px;
        cursor: auto;

        &:hover {
          text-decoration: none;
        }

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 27px;
          height: 23px;
        }
      }
    }
    //mdeia
    @media (max-width: @tablet) {
      margin-bottom: 25px;
    }
  }

  &__address {
    a {
      &::before {
        background: url("../images/icons/footer-1.svg") no-repeat center;
        background-size: 80%;
      }
    }
  }

  &__tel {
    a:first-child {
      margin-bottom: 0;

      &::before {
        top: 10px;
        width: 25px;
        height: 25px;
        background: url("../images/icons/footer-2.svg") no-repeat center;
        background-size: 80%;
      }
    }
  }

  &__email {
    a {
      &::before {
        background: url("../images/icons/footer-3.svg") no-repeat center;
        background-size: 80%;
      }
    }
  }

  &__cont-wrap {
    //media
    @media (max-width: @laptop) {
  		padding-left: 5%;
  	}
    @media (max-width: @tablet) {
  		padding-left: 0;
  	}
  }
  //  copyright
  &__copyright {
    background: #000000;
    color: @white;
    height: 30px;
    margin-top: 50px;
  }

  &__copy-text {
    font-family: @rubik;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    padding: 2px 0;
    //media
    @media (max-width: @desktop) {
  		font-size: 10px;
  	}

    &:first-child {
      padding-right: 10px;
      border-right: 1px solid @white;
    }

    &:last-child {
      padding-left: 10px;
    }
  }
  //media
  @media (max-width: @desktop) {
    padding-top: 55px;
  }
  @media (max-width: @laptop) {
    & .container {
      padding-left: 6%;
      padding-right: 6%;
    }
  }
  @media (max-width: @tablet) {
    & .container {
      padding-left: 17%;
      padding-right: 6%;
    }
    &__copyright .container {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }
  }
}


/* end footer */
