/*----------------------------------------
	FORMS
----------------------------------------*/

//global
form {
  //убираем placeholder при фокусе
  :focus::-webkit-input-placeholder {color: transparent}
  :focus::-moz-placeholder          {color: transparent}
  :focus:-moz-placeholder           {color: transparent}
  :focus:-ms-input-placeholder      {color: transparent}
}

//форма на странице каталога

//brand filter
.brand-filter {

  &__search {
    position: relative;
  }
  &__search-window {
    width: 230px;
    height: 38px;
    padding: 13px 30px 11px 12px;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    color: @lightblack;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__search-button {
    position: absolute;
    width: 15px;
    height: 15px;
    border: none;
    background: transparent url(../images/icons/search.png) no-repeat center;
    top: 11px;
    right: 2px;
  }

  &__list {
    overflow-x: hidden;
    max-height: 450px;
  }

  &__item {
    padding: 4px;
    padding-bottom: 12px;
    &:hover {
      background: @grey;
    }
    
    input[type=checkbox] {
      opacity: 0;
      width: 19px;
      height: 19px;
      position: relative;
      top: 4px;
      left: 1px;
    }

    label {
      position: relative;
      padding-left: 20px;
      font-family: @rubik;
      font-size: 14px;
      color: #686868;
      top: 2px;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        top: -2px;
        left: -22px;
        width: 19px;
        height: 19px;
        border-radius: 2px;
        border: 1px solid #bababa;
      }
      &::after {
        position: absolute;
        content: '';
        /* Style for "Прямоуголь" */
        width: 13px;
        height: 13px;
        top: 1px;
        left: -19px;
        border-radius: 2px;
        background-color: #e0552f;
        opacity: 0;
      }

      &:hover::before {
        border-color: @red;
      }
    }
  }

//  стилизация полосы прокрутки
  ::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px
  }

  ::-webkit-scrollbar-track {
    background-color: #dfdfdf;
    box-shadow:0px 0px 3px #dfdfdf inset;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #bababa;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
  }

  ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:7px;
    height:0px
  }

  ::-webkit-scrollbar{
    width: 2px;
  }
}

// .pet-filter наследует стили у .brand-filter
.pet-filter:extend(.brand-filter all){}


//стилизация input brand-filter и pet-filter
.brand-filter__item,
.pet-filter__item {
  input[type=checkbox]:checked + label::after {
    opacity: 1;
  }
  input[type=checkbox]:checked + label::before {
    border-color: @red;
  }
  input[type=checkbox]:checked + label {
    font-weight: 500;
    color: #242423;
  }
}

//Форма выбора региона на странице brand

.brand-info__label {
  color: #242423;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin-right: 10px;
}

.brand-info__region-select {
  width: 189px;
  height: 29px;
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;

  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  padding: 4px 30px 3px 14px;
}

.region-select-placeholder {
  color: #bababa;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}


//Формы на странице акций

//Формы на странице новостей

.theme-filter:extend(.time-filter all){
  &__themes {
    margin-bottom: 50px;
  }
  &__theme {
    display: inline-block;
    min-width: 86px;
    text-align: center;
    border-radius: 1px;
    border: 1px solid @red;
    font-size: 14px;
    color: @red;
    padding: 0px 8px;
    margin-right: 0px;
    margin-bottom: 3px;
    &:hover {
      color: @white;
      background: @red;
    }
  }
}


/* end forms */