/* ==========================================================================
   MODALS
   ===========================================================================*/

// TOPLINE

// modal-city

.modal-city {
  position: absolute;
  width: 327px;
  height: 161px;
  background: red;
  /* Style for "Прямоуголь" */
  box-shadow: 0 1px 5px 1px rgba(24, 24, 23, 0.5);
  border: 1px solid #bababa;
  background-color: #ffffff;
  top: 35px;
  padding-top: 30px;
  padding-bottom: 15px;
  z-index: 10;
  display: none;

  &__title {
    color: #0e0c07;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 30px;
  }

  &__no {
    margin-right: 25px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 27px;
    height: 12px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAMCAYAAACTB8Z2AAAB8ElEQVQ4T5WUW4+iQBCFT6uooIZRZ5X18mh8Mvr7/RNeXiQmPpjs6LBGAyMCIsKmKmnDkrl2UulEoL4+p04rkiRJ8MGK45if0E51v9+55Ce5XA75fB60p+ujfiILk41ol0WA2+3GFYYhXl7+QIgcOp0OisUiFEXhkmCCCSG40usBSwuUEKkmCAJcr1dcLhfsdjtUKhVWSr8RUNM0lEollMvlh0IJSwMZlgWlLQvDKzzPh+M42O/36PV6GAwGrHq1WuFwOMAwDOi6DlVVGVooFBiaVSfiOH7MTM6GdrKMTu55Ho7HI06nE4bDIbrd7n/WbDYbbLdbtFot1Ot1aBoBywwkW9NAhmVto7mQdb7vwbL+MnA8HnOz9xZZa5omGo0Gms0mKyRL5RwJyEqjKGKYtI7UBIEP1/Xw+rrn000mE27w2SLli8UC1WqVVco5UoBkcEQYhgmBoihi23zfx9ubA8uyoOtPGI1GbMl3luu6mM1m3LzdbqNWq/EMqdhS13UTApF1ZJttOzz0fr/PQcjG9ysoHXg+n4OCZRi/oWkVqGoJilKEsCwrIRC9RFacz+d3g/AVJP2c7uVyuYTj2Hh+/sVXhWYoTNNkmG3b/O/wWRB+AqQcUGgoPHQtCCim0ylHnwb7nSD8BEjv0rVYr9f82T9XNVcP+Xo7VwAAAABJRU5ErkJggg==') no-repeat center;
    top: -12px;
    left: 120px;
  }
}

.overlay {

}

//MODAL WINDOW STYLES

.overlay-light {
  background: transparent;
  color: #12485a;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow-y: scroll;
  z-index: 9;
}

/* end modals */
