/* ==========================================================================
   MODALS
   ===========================================================================*/
.modal_div {
  position: fixed;
  top: 10%;
  z-index: 100;
  display: none;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // стилизация полосы прокрутки
  &::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: #dfdfdf;
    box-shadow: 0 0 3px #dfdfdf inset;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #bababa;
    box-shadow: 0 1px 1px #fff inset;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
}
// modal-city
.modal-city {
  position: absolute;
  width: 320px;
  min-height: 195px;
  box-shadow: 0 1px 5px 1px rgba(24, 24, 23, 0.5);
  border: 1px solid #bababa;
  background-color: #ffffff;
  top: 40px;
  left: -20px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
  display: none;

  &__title {
    text-align: left;
    color: #0e0c07;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  a.modal-city__yes {
    margin-right: 20px;
    &:hover {
      color: @white;
    }
  }

  a.modal-city__no {


    &:hover {
      color: @white;
    }
  }

  &::after {
    position: absolute;
    content: '';
    width: 27px;
    height: 12px;
    background: url("../images/icons/city-modal-triangle.png") no-repeat center;
    background-size: cover;
    top: -12px;
    left: 46%;
  }

  &__text {
    text-align: left;
    font-size: 13px;
    font-family: @rubik;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;

  }
}
// change-city modal
.modal-change-city {
  display: none;
  width: 718px;
  max-height: 320px;
  box-shadow: 0 8px 87px 9px rgba(24, 24, 23, 0.75);
  background-color: #ffffff;
  padding: 35px 55px 10px;
  overflow-y: visible;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 13px;
    height: 14px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAABAUlEQVQoU4XSMUoEMRQG4P9BQKy2UDsPYxMCuYF4ArEXLEQQQcFarYQ9gIVVigR3WitPoY1TWS5h5pcsmyWbndlNmeTjvfcnEkK4iTG+Wmu/sWN5708B/Ir3/pPkYdd1J9tgCOGc5BOAMwkhTEh6kgdjMAMRudBav0jqaBusQbq/QGNwCKyhDAHM+r6fAJiKyG1uqcxoVSlvOueOlFJfAI5JXhtj7upQN1CR0g/J+VA4a6icIcb4ppSakdyvYRlEeodnkpfGmMfU0rLVDZgjXwARudJaP5QzDMH0uKOgCmdVMX2jPxG5ryvUiS0rfgB4F+fcnrV2vuuzpvOmaVTbtvwHZVPf9mAlp5gAAAAASUVORK5CYII=') no-repeat center;

    &:hover {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAABBElEQVQoU4XSsUrEMBwG8O+DUnG6QQUHryklD+JriE8g7oKDCCIo3KxOgg/g4Czo7OQTdGjULm6OR5L7S0tberleL2OSH/8vH2GSJJfe+8eyLH+wYaXp9Gix4C+VUh+A7DrnD8dgmk5PRHhHyjGzLJs4515J7KyDPXBaFN8PrBKNwRBU92u0Dg6BJdRC7907gAnAJ0CuSKkj9TvqJrWbWu/vWRt/AjgAeGGMuQ5LXUFtJAAlgPlQOUuo/4Yoss/WxlXU7RB2qAH3AM+MMbMqUhN1BdaoBSTOi+Lrtv+GIcgxEJTTTaRSyR+Jm3BC2Fg10bn4TUReqLXeyvN8vumzNucRAPkHzPzAr1UgANUAAAAASUVORK5CYII=');
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__form {}

  &__input {
    height: 38px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 2px;
    border: 1px solid @lightgrey;
    padding: 0 15px;
    font-family: @rubik;
    font-weight: 500;
  }

  &__item {
    margin-bottom: 20px;

    input[type=radio] {
      opacity: 0;
      width: 19px;
      height: 19px;
      position: relative;
      top: 4px;
      left: 1px;
    }

    label {
      position: relative;
      padding-left: 20px;
      font-family: @rubik;
      font-size: 14px;
      font-weight: 400;
      color: @darkgrey;
      top: 2px;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        top: -2px;
        left: -22px;
        width: 19px;
        height: 19px;
        border-radius: 2px;
        border: 1px solid #bababa;
      }

      &::after {
        position: absolute;
        content: '';
        /* Style for "Прямоуголь" */
        width: 13px;
        height: 13px;
        top: 1px;
        left: -19px;
        border-radius: 2px;
        background-color: #e0552f;
        opacity: 0;
      }
    }
  }

  .SumoSelect {
    label {
      display: none;
    }
  }
  //media
  @media (max-width: @laptop) {
    max-height: 100vh;
    width: 100%;
    padding-top: 100px;
    overflow-y: auto;

    .container-offset {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
//стилизация полей инпутов по ховеру
.modal-change-city__item label:hover::before {
  border-color: @orange;
}

.modal-change-city__form {
  //возвращаем placeholder
  :focus::-webkit-input-placeholder {
    color: #bababa;
  }

  :focus::-moz-placeholder {
    color: #bababa;
  }

  :focus:-moz-placeholder {
    color: #bababa;
  }

  :focus:-ms-input-placeholder {
    color: #bababa;
  }
}
//стилизация input
.modal-change-city__item {
  input[type=radio]:checked + label::after {
    opacity: 1;
  }

  input[type=radio]:checked + label::before {
    border-color: @orange;
  }

  input[type=radio]:checked + label {
    font-weight: 500;
    color: @lightblack;
  }
}
// main nav SMALL modal
.main-navigation__list_small {
  position: relative;
  background: @white;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  padding-top: 140px;
  padding-bottom: 165px;

  li {
    margin-right: 0;
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: @lightblack;
    }
  }
  //media
  @media (max-width: @tablet) {
    padding-top: 120px;

    li {
      margin-bottom: 26px;
    }
  }
}

.modal-navigation__close {
  position: absolute;
  text-transform: uppercase;
  text-align: left;
  color: #bababa;
  top: 15px;
  right: 15px;
  width: 100px;
  height: 24px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAABAUlEQVQoU4XSMUoEMRQG4P9BQKy2UDsPYxMCuYF4ArEXLEQQQcFarYQ9gIVVigR3WitPoY1TWS5h5pcsmyWbndlNmeTjvfcnEkK4iTG+Wmu/sWN5708B/Ir3/pPkYdd1J9tgCOGc5BOAMwkhTEh6kgdjMAMRudBav0jqaBusQbq/QGNwCKyhDAHM+r6fAJiKyG1uqcxoVSlvOueOlFJfAI5JXhtj7upQN1CR0g/J+VA4a6icIcb4ppSakdyvYRlEeodnkpfGmMfU0rLVDZgjXwARudJaP5QzDMH0uKOgCmdVMX2jPxG5ryvUiS0rfgB4F+fcnrV2vuuzpvOmaVTbtvwHZVPf9mAlp5gAAAAASUVORK5CYII=') no-repeat center;
  background-position: 87px 4px;
  z-index: 10;

  &:hover {
    color: @lightblack;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAABBElEQVQoU4XSsUrEMBwG8O+DUnG6QQUHryklD+JriE8g7oKDCCIo3KxOgg/g4Czo7OQTdGjULm6OR5L7S0tberleL2OSH/8vH2GSJJfe+8eyLH+wYaXp9Gix4C+VUh+A7DrnD8dgmk5PRHhHyjGzLJs4515J7KyDPXBaFN8PrBKNwRBU92u0Dg6BJdRC7907gAnAJ0CuSKkj9TvqJrWbWu/vWRt/AjgAeGGMuQ5LXUFtJAAlgPlQOUuo/4Yoss/WxlXU7RB2qAH3AM+MMbMqUhN1BdaoBSTOi+Lrtv+GIcgxEJTTTaRSyR+Jm3BC2Fg10bn4TUReqLXeyvN8vumzNucRAPkHzPzAr1UgANUAAAAASUVORK5CYII=');
  }
}
// modal-vacancy
.modal-vacancy {
  display: none;
  max-width: 700px;
  max-height: 100vh;
  background: @white;
  top: 3%;
  bottom: auto;
  padding: 38px 100px 55px;
  overflow-y: auto;
  z-index: 100;

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 40px;
  }

  .request__form-block {
    border: none;
    padding: 0;
    margin-bottom: 0;
  }

  &__agree {
    margin-bottom: 45px;
  }

  .request__clear,
  .request__submit {
    float: none;
  }

  .request__submit {
    margin-right: 20px;
  }
  //media
  @media (max-width: @laptop) {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100vh;
    top: 0;
    .container-offset {
      padding: 60px 10px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .request__form-block {
      padding: 0 30px;
    }
  }
  @media (max-width: @tablet) {
    .container-offset {
      max-width: 300px;
    }
    .request__form-block {
      padding: 0;
    }
    &__agree {
      margin-bottom: 60px;
    }

    .request__submit {
      margin-right: 0;
    }

    .request__clear {
      left: 10px;
    }

    .request__submit {
      right: 10px;
    }
  }
}
// modal brand
.modal-brand {
  display: none;
  background: @white;
  box-shadow: 0 8px 87px 9px rgba(24, 24, 23, 0.75);
  max-width: 1100px;
  max-height: 550px;
  overflow-y: auto;
  padding: 10px 40px 40px;

  &__left {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    font-family: @rubik;
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 30px;

    li {
      position: relative;
      padding-left: 20px;
      font-size: 14px;
      line-height: 20px;

      &::before {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        background: @orange;
        top: 8px;
        left: 0;
      }
    }
  }

  &__btn {
    position: relative;
  }
  //media
  @media (max-width: @desktop) {
    padding-top: 20px;
    padding-bottom: 0;
    margin-right: 40px;
    margin-left: 40px;

    &__btn {
      top: -70px;
    }
  }
  @media (max-width: @laptop) {
    // width: 100%;
    // height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    top: 0;

    .container-offset {
      padding: 60px 40px 40px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (max-width: @tablet) {
    .container-offset {
      padding: 40px 20px 80px;
    }

    &__left {
      img {
        max-width: 232px;
      }
    }

    &__title {
      font-size: 24px;
    }

    &__btn {
      top: 0;
    }
  }
}
// article slider modal
.modal-article {
  position: fixed;
  width: 960px;
  height: 699px;
  max-height: 100vh;
  background: @white;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  overflow-y: auto;

  &__slider {}

  &__slide {
    img {
      width: 860px;
      height: 599px;
    }
  }

  .slick-prev {
    left: auto;
    right: 51%;
    bottom: -12%;
  }

  .slick-next {
    left: auto;
    right: 45%;
    bottom: -12%;
  }

  //media
  @media (max-width: @laptop) {
    width: 600px;
    height: 480px;
    padding: 40px;
    &__slide {
      img {
        width: 520px;
        height: auto;
      }
    }
    .slick-next {
      bottom: -70px;
      right: 42%;
    }
    .slick-prev {
      bottom: -70px;
      right: 50%;
    }
  }
  @media (max-width: @tablet) {
    width: 320px;
    height: 296px;
    padding: 20px;
    padding-top: 35px;
    &__slide {
      img {
        width: 280px;
        height: auto;
      }
    }
    .slick-next {
      right: 32%;
      // visibility: hidden;
    }
    .slick-prev {
      // visibility: hidden;
    }
  }
}


// overlays
.overlay {
  background: transparent;
  color: #12485a;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow: auto;
  z-index: 99;

  &_dark:extend(.overlay all) {
    background: rgba(0,0,0,0.6);
  }
}
