//stores (где купить)

.stores {
  background: @lightgrey;
  width: 100%;
  max-width: 1917px;
  margin: 0 auto;

  &__hidden-topline {
    padding-top: 40px;
    background-color: @lightgrey;
    //media
    @media (max-width: @tablet) {
      padding-top: 30px;
      padding-bottom: 55px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
    margin-left: -2px;
  }

  &__current-region {
    display: inline-block;
    color: @lightblack;
    font-family: Geometria;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 3px;
    border-bottom: 1px solid @lightblack;
    margin-top: 16px;

    &:hover {
      color: @orange;
      border-color: @orange;
    }
    //media
    @media (max-width: @tablet) {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  &__type-block {
    margin-left: auto;
    margin-right: auto;
    @media (max-width: @tablet) {
      max-width: 320px;
    }
  }

  &__type-select {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px 11px;
    transition: color 0.2s ease;

    &.active {
      color: @white;
      background-color: @orange;
      border-radius: 2px;

      &:hover {
        color: @white;
      }
    }
    &:hover {
      color: @orange;
    }
    &_online {
      margin-left: -15px;
    }
    //media
    @media (max-width: @tablet) {
      font-size: 11px;
      line-height: 28px;
      padding: 0 5px;
      &_online {
        margin-left: 0;
      }
    }
  }

  &__search {
    margin-top: 30px;
    @media (max-width: @laptop) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    @media (max-width: @tablet) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__search-window {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    font-size: 14px;
    padding: 8px 40px 7px 13px;
  }

  &__map {
    position: relative;
    width: 100%;
    height: auto;

    #mapkit-7181 {
      width: 100%;
      min-height: 635px;
    }
  }


  &__points {
    padding: 30px 0 0 30px;
    max-width: 720px;
    @media (max-width: @laptop) {
      max-width: 100%;
      padding: 0;
      padding-top: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: @tablet) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__stores-list {
    overflow-x: hidden;
    max-height: 290px;
    //  стилизация полосы прокрутки
    &::-webkit-scrollbar-button {
      background-image: url('');
      background-repeat: no-repeat;
      width: 6px;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: #dfdfdf;
      box-shadow: 0 0 3px #dfdfdf inset;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #bababa;
      box-shadow: 0 1px 1px #fff inset;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::-webkit-resizer {
      background-image: url('');
      background-repeat: no-repeat;
      width: 7px;
      height: 0;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }
    //media
    @media (max-width: @laptop) {
      margin-bottom: 40px;
    }
    @media (max-width: @tablet) {
      // max-width: 300px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__retail-list {
    display: none;

    &.active {
      display: block;
    }
  }

  &__online-list {
    display: none;

    &.active {
      display: block;
      margin-top: 60px;
    }
  }

  &__stores-item {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    font-family: @rubik;
    color: @darkgrey;
    cursor: pointer;

    &.active {
      color: @darkgrey;
    }

    &.active .stores__store-name {
      color: @orange;
      border-color: @orange;
    }

    &:hover .stores__store-name {
      color: @orange;
      border-color: @orange;
    }
  }

  &__store-name {
    display: inline-block;
    font-weight: 400;
    color: @lightblack;
    border-bottom: 1px solid @lightblack;
    margin-bottom: 5px;
  }

  &__store-address {
    display: block;
    margin-bottom: 3px;
  }

  &__store-district {
    display: block;
  }
  //media
  @media (max-width: @desktop) {
    &__points {
      padding: 50px 0 0 20px;
    }
  }
  @media (max-width: @tablet) {
    &__title {
      font-size: 24px;
      padding-left: 10px;
    }
  }
}

.map-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  &__window {
    position: relative;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 38px;
    border-radius: 2px;
    border: 1px solid @orange;
    background-color: #ffffff;
    font-family: @rubik;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 35px 11px 14px;
    &:focus {
      border-color: @orange;
      & + .map-search__button {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAABnElEQVQoU42SPWgUURSFv7PZbKuC9oGN0ZDoTli1sZYYMLqbxVIb8acJmGAlIkhQCwtLwSgEBEEGMrMWxkaQkCoYMrvESht/8lNYJKQJhpkrM7OzasSQW7x3i/dxzznvilZZrXyUKLwLnAUOgK1Brk4+mpDbWM7exbfiwy4cHyaXexW3QB34DnQD54ENzIbkN+YzUFYpF1HYBD6h6JymmzGQlNVKfYR6g6yAqVd+sJ5MsqrzFOwSUdij+tK3P2Uk4IhzEmMe47b84GEGLWP2Tn7j8k6gPbHqzCGk6eB0BsU+7sgL7u8CTQJn5AVdGbQJPJcX3NwF8oGivOBYCyrNgPrJbxflfvz5j6fh8kHy4RfQC3mLN1KoVhok0ltgEi+4rjT2NL2LfQW2Oz3EIESOvObS73+qOI8RsbzY8BPMvgI9oDGgH/GZjo4Tchc22lAa7cAoZvfSbWjXCvASGAdm2bd/SFPvt5KNaMu5Vu7kR3iKiENYtErhyAe5bmiVgSvIngGvyR8e+Qv6X3qJkqpzC3iEmNoz1NqOBxhXfwGiSpdGmdIImAAAAABJRU5ErkJggg==');
      }
    }
  }

  &__button {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 14px;
    height: 14px;
    border: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAABqElEQVQoU42SP2gUQRSHv7d3lyoWgjYHO7NwEpSLIJzaWIcYUIv02ohoI6hYiQgiamFhKRiFgCBYaSzUxiakClbiVZrLzOxeFK4xJIXIuU/2sisxEPFXzP+P95v3nlAqSZKDqnoL9CSwF/imykKe53eyLOtX74pZisEYc1qEF4CCLIBmoAdAzgDrUZTPrK5myxUocRy3okg+gn4eDvNT/X4/qy6NMW0RfQMyJhIdcs59H0Wy1jwGztbrw4mVlbV0u41iHcfxsSiSZRFuOBfuV1Dh97334dxOoNpba5aKAN6HExWkoDe9T+/+A5oDprwPSQVtiPDUuXBlN8gY80qElvfhcAnZt6CT4+N7Wt1u9+dOsNls7ms06l6VZyGESyMoSeJpVXkHzHkfLm6lfUvtdntsc3PjJTCd53okTdNP2+v0UITC3hLII1UNIjIBehWYBL7UavWjvV5v/Q9UFviyCLfLbqiCrYE+B7kGuihSm3HO/Rh1RKVOp9MYDAbHo0j3g351LvsA/LLWngd9IsJr58LsX9Bu2SvOrbXXQR+oMv/fUPmFeyJc+A2JXKFSBimzvgAAAABJRU5ErkJggg==") no-repeat center;
    background-size: 95%;
    //media
    @media (max-width: @tablet) {
      // background-size: 45%;
    }
  }
  @media (max-width: @tablet) {
    width: 300px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    &__window {
      right: 0;
    }
  }
}
