//main-topline

.main-topline {
  font-family: @geometria;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px;
  a:hover {
    color: inherit;
  }
}

.main-topline__city {
  padding-top: 8px;
  position: relative;
  text-align: left;
}

.main-topline__change-city {
  position: relative;
  padding-right: 0px;
  &:hover {
    text-decoration: underline;
  }
  &::after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    top: 3px;
    right: -20px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAWklEQVQYV2N0cHBQ+Pfv734mpr+BBw4cu8CABuztbef//8/wgREkDuUEMDH9dURWjCwOVohNMbpmuEJkxYyMDAf+/2dwQLYBRSE+Z2AoBCkGefDAgQMPkP0FAO0/QTlNBS3WAAAAAElFTkSuQmCC") no-repeat center;
  }
}

.main-topline__phone {
  position: relative;
  text-align: center;
  a:hover {
    text-decoration: underline;
  }
  &::after {
    position: absolute;
    content: '';
    background: black;
    width: 1px;
    height: 35px;
    top: 0;
    right: -8px;
  }
}

.main-topline__phone-time {
  font-size: 10px;
}

.main-topline__user {
  position: relative;
  padding-top: 8px;
}

.main-topline__user-login {
  position: relative;
  padding-left: 20px;
  &:hover {
    text-decoration: underline;
  }
  &::before {
    position: absolute;
    content: '';
    background: url(../images/icons/header-lock.svg) no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: -3px;
    left: -5px;
  }
  &.entered {
    color: @red;
    &::before {
      background-image: url(../images/icons/header-lock_open.svg);
    }
    &:hover {
      color: @red;
    }
  }
}

